.idea/
logfile_error.log
logfile_info.log
logfile_total.log
generated_walks
__pycache__/
*.lyx#
*.lyx~
paper/presentation/Discrete random walks with memory_presentation.synctex.gz
test.py
paper/Amistat_zdroj.pdf
paper/Discrete random processes with memory.synctex.gz
results archive/
results_total.pkl
